{% load static %}
{% get_media_prefix as MEDIA %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Сайт Алексея Савватеева{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>



<div class="container-fluid">
  {% block header %}
  <a href="/">Сайт Алексея Савватеева</a>
  {% endblock %}
    <div id="content">
      {% for message in messages %}
      <p class="message">
        {{ message }}
      </p>
      {% endfor %}

      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <p>Разработчик &mdash; <a href="mailto:egor@kuzmichev.design">Егор Кузьмичев</a></p>
      <p><a href="https://github.com/aeifn/savva3">Репозиторий проекта</a></p>
    </div>

</div>

{% block style %}
<script src="{% static 'webpack/common.js' %}"></script>
{% endblock %}

</body>
</html>
