{% load static %}
{% get_media_prefix as MEDIA %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Сайт Алексея Савватеева{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<script src="{% static 'bundle.js' %}"></script>

<div class="container-fluid">
  {% block header %}
  <a href="/">Сайт Алексея Савватеева</a>
  {% endblock %}
    <div id="content">
      {% for message in messages %}
      <p class="message">
        {{ message }}
      </p>
      {% endfor %}

      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <p>Разработчик &mdash; <a href="mailto:egor@kuzmichev.design">Егор Кузьмичев</a></p>
    </div>

    <a href="https://github.com/aeifn/savva3">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>

</div>


</body>
</html>
