{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Сайт Алексея Савватеева{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <a href="/">Сайт Алексея Савватеева</a>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
      Разработчик &mdash; <a href="mailto:egor@kuzmichev.design">Егор Кузьмичев</a>
    </div>
</body>
</html>
