{% load rating_filters %}
<div>
    {% csrf_token %}
    <script>
    (function(){
        var parent = document.currentScript.parentNode;
        var csrf = parent.querySelector("[name=csrfmiddlewaretoken]").value;
        window.addEventListener('load', function(){
            __ReactDOM.render(__React.createElement(Rating, {
                rating_positive: {{rated_object.rating_positive}},
                rating_negative: {{rated_object.rating_negative}},
                csrf: csrf,
                rating_type: '{{rated_object | rating_type}}',
                iid: {{rated_object.id}},
            }), parent)
        });
    })();
    </script>
</div>
