{% extends 'base.html' %}
{% load static %}


{% block title %}
Открытые лекции Алексея Савватеева по математике
{% endblock %}

{% block meta %}
<meta name="description" content="График открытых лекций Алексея Савватеева по математике">
<meta name="keywords" content="расписание, открытые лекции, график, выступления, Савватеев">
{% endblock %}

{% block content %}
<h1>Открытые лекции Алексея Савватеева по математике</h1>
<p>Алексей Савватеев выступает с открытыми лекциями по всей России.<br/>В календаре
  показаны ближайшие лекции, на которые приглашаются все желающие.</p>

{% include './include/table.html' %}

<p>
<a href="{% url 'events:archive' %}" title="Архив событий">Архив событий</a>
</p>

{% endblock %}
{% block forkme %}{% endblock %}
