{% extends 'base.html' %}
{% load markdown_filter %}
{% load embed_video_tags %}


{% block title %}
{{event.title}}
{% endblock %}


{% comment %}
Метатеги сюда добавляются автоматически, в шаблоне их указывать не нужно
{% endcomment %}


{% block content %}

<h1>{{ event.title|default:"Пока без названия" }}</h1>
<h2>
  {{event.city}},
  {% with start=event.start time=event.start.time %}
  {% if time.hour == 0 and time.minute == 0 %}
    {{ start.date }}, точное время пока не определено
  {% else %}
    {{ start }}
  {% endif %}
  {% endwith %}
</h2>
<p>
  {{ event.place }}
  <br>
  {{ event.address }}
</p>

{% if event.video %}
<div>
<hr>
<p>Видеозапись:</p>
{% for resource in event.video.all %}
{% video resource.video.url %}
{% endfor %}
<hr><br>
</div>
{% endif %}

<div>
    {{ event.comment |markdown_filter|safe }}
</div>

{% endblock %}
