{% extends 'base.html' %}
{% load bootstrap %}

{% block comments %}
{% endblock %}

{% block content %}


<h1>Пригласить Алексея Савватеева</h1>

<p>Райдер:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OcuEaR3UDlc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% if formset %}
<p>Заявка:</p>
<form method="post">
{% csrf_token %}
{{ formset|bootstrap }}
<button type="submit" class="btn btn-primary">Пригласить</button>
</form>
{% endif %}
{% if success %}
<p>Вы пригласили Алексея Савватеева. С вами скоро свяжутся.</p>
{% endif %}

{% endblock %}
