
{% load markdown_filter %}


{% for event in events %}
<div class="row border-bottom pt-1 pb-2">

  <div class="col-md-2 text-nowrap">
    {% with start=event.start time=event.start.time %}
    {% if time.hour == 0 and time.minute == 0 %}
      {{ start.date }}
    {% else %}
      {{ start }}
    {% endif %}
    {% endwith %}
  </div>
  <div class="col-md-1">
    {{event.city}}
  </div>
  <div class="col">

    {% if event.place or event.address or event.comment %}
    <a class="" data-toggle="collapse" href="#event{{event.id}}" role="button" aria-expanded="false" aria-controls="event{{event.id}}">
        <strong>{{ event.title|default:"..." }}</strong>
    </a>
    {% else %}
        <strong>{{ event.title|default:"..." }}</strong>
    {% endif %}

    <div class="collapse" id="event{{event.id}}">
      <div class="card card-body">
        <div>
        {{event.place}}
        </div>
        <div>
        {{event.address}}
        </div>
        <div>
        {{event.comment |markdown_filter|safe}}
        </div>
      </div>
    </div>


  </div>
</div><!--/row-->
{% endfor %}
