<section id="intro" class="mt-5">
<h2 class="text-center">Проект Алексея Савватеева &mdash; &laquo;математика просто&raquo;!</h2>
<p>
<strong>
Дорогие друзья!
</strong>
</p>
<p>
Уже много лет назад я осознал, что необходимо создать в свободном доступе
такой ресурс, с помощью которого каждый человек (при достаточном желании 
и неограниченном количестве свободного времени!) мог бы восполнить любой 
пробел в своем понимании математики. Требуемое на это время, конечно, уже
зависит и от возраста, и от предыдущего опыта в изучении точных наук, однако
принципиальная такая возможность должна существовать!
</p>
<p>
Начинал я с разовых очных просветительских лекций по основам математики
для преподавателей экономики, которые были частью программ повышения
квалификации Центра дополнительного профессионального образования
Российской экономической школы по всей территории бывшего Союза. 
</p>
<p>
Постепенно, однако, я пришёл к тому, что нужно делать лекции по основам 
математики не только для экономистов, но и для всех тех, кто подходит под
расплывчатый термин &laquo;гуманитарий&raquo; &mdash; грубо говоря, это человек, боящийся
математики и так и не сумевший понять, что же стоит за символом $х$.
</p>
<p>
Должен сказать, что многие &laquo;гуманитарии&raquo; на проверку оказались способными
к восприятию математических рассуждений &mdash; проблема была в каком-то блоке,
который стоял на пути восприятия математики у них в голове, и который мною
удалялся, ликвидировался из чужих голов в процессе чтения лекций.
</p>
<p>
Помимо лекций для гуманитариев, я зачитал (в том числе и под запись) очень
много курсов математики более продвинутого уровня, а также отдельных лекций
для сильных школьников &mdash; лекций, понять которые может лишь специалист.
</p>
<p>
Сегодня существует великое множество записей моих лекций в свободном 
доступе на различных каналах ютюба, и множество это регулярно пополняется 
за счет загрузки новых выступлений во многих городах России и смежных стран.
</p>
<p>
Задача, которую ставит перед собой данный ресурс, &mdash; это привлечь аудиторию, 
заинтересовавшуюся возможностью продолжить свое изучение науки математики,
и облегчить людям поставленную задачу за счет дополнительной информации и 
структурной организации лекций в порядке следования тем, учёта логических 
взаимосвязей лекций и курсов лекций между собой, и т. п.
</p>
<p>
Добро пожаловать на наш сайт! Сделайте для себя математику &mdash; простой!
</p>
<p class="text-right"><em><a href="{% url 'savvateev' %}" title="Алексей Савватеев">Алексей Савватеев</a></em></p>
</section>
