<div class="row mt-4">
<div class="col-md-12">
<h2>Проект Алексея Савватеева &mdash; математика просто!</h2>

<p>Уже много лет назад Алексей Савватеев понял, что необходимо создать в свободном досутпе
ресурс с помощью которого каждый человек при достаточном желании и времени мог бы восполнить любой пробел
в своем понимании математики независимо от своих текущих материальных возможностей,
возраста и опыта в изучении точных наук.</p>

<p>Работа сперва шла в виде разовых очных просветительских лекций по основам математики
для преподавателей экономики, которые Алексей читал в ходе своих многочисленных
поездок по территории бывшего союза. Постепенно Алексей понял, что нужно делать лекции
по основам математики для тех кто сам по некоторым причинам называет себя гуманитариями.
Вызывая таких людей на обсуждение специфичных вопросов по ходу дела уточняя условия обсуждения предмета,
тем самым снимая налет непригодности &laquo;гуманитариев&raquo; для изучения точных наук!</p>

<p>Сегодня существует великое множество записей лекций Алексея Савватеева в свободном доступе на Ютюбе,
которое регулярно пополняется за счет загрузки новых выступлений профессора из различных точек нашей страны и ближнего зарубежья.</p>

<p>Наша задача на данном ресурсе &mdash; привлечь аудиторию, заинтересовавшуюся возможностью продолжить свое изучение науки математики
и облегчить задачу за счет дополнительной информации и структурной организации лекций в порядке следования тем,
вероятно упрощающей усвоение материала.</p>

<p>Всем привет! И с наилучшими пожеланиями врывайтесь в изучение науки о красоте вселенной!</p>

<div class="text-right"><em><a href="{% url 'team' %}" title="Те, кто делает этот сайт">Команда проекта</a></em></div>
</div>
</div>