{% load menu_tags %}



<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-right">

{% if request.path != '/' %}
  <a href="/" title="Лекторий Савватеева" class="navbar-brand">Лекторий Савватеева</a>
{% else %}
  <h1 class="navbar-brand mb-0">Лекторий Савватеева</h1>
{% endif %}

<div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
  <div class="top-menu collapse navbar-collapse" id="navbarNavAltMarkup">

    {% topmenu %}
        <div class="greeting"> 
          {% if user.is_authenticated %}
          Привет, {{ user.first_name }}
           {% endif %}
    </div>
  </div>

</nav>
