<!-- VK Widget -->
<div id="vk_widget">
    <div id="vk_groups"></div>
</div>

<script>
    function VK_Widget_Init(){
        document.getElementById('vk_groups').innerHTML = "";
        VK.Widgets.Group("vk_groups", {mode: 4, width:"auto", height:"300", color1: "FFFFFF", color2: "0A1C48", color3: "4E4308"}, 148115211);
    };


document.addEventListener('DOMContentLoaded', function() {
  VK_Widget_Init();
  (function() {
    window.addEventListener("resize", resizeThrottler, false);

    var resizeTimeout;

    function resizeThrottler() {
      if (!resizeTimeout) {
        resizeTimeout = setTimeout(function() {
          resizeTimeout = null;
          actualResizeHandler();
        }, 66);
      }
    }

    function actualResizeHandler() {
      VK_Widget_Init();
    }

  })();
});
</script>