    <ul class="navbar-nav mr-auto">
        {% for item in menu %}
            <li class="nav-item {% if item.has_children %}dropdown{% endif %}">

                {% if not item.url == request.path %}
                <a href="{{ item.url }}"
                class="nav-link"
                aria-haspopup="true"
                {% if item.rel %}rel="{{item.rel}}"{% endif %}
                {% if item.hint %}title="{{item.hint}}"{% endif %}>

                    {{ item.title }}

                </a>
                {% else %}
                <span class="nav-link active">
                {{ item.title }}
                </span>
                {% endif %}


            </li>
        {% endfor %}
    </ul>