{% extends 'base.html' %}
{% load markdown_filter %}
{% load bootstrap %}


{% block content %}
<h1>Сборник математических анекдотов</h1>
<p>Скачать одним файлом: <a href="{{MEDIA}}jokes.pdf">PDF</a>,
<a href="{{MEDIA}}jokes.tex">TeX</a>.</p>

<div class="row">

  <div class="col-md-6 mb-3">
  <img src="{{MEDIA}}joke.jpg" class="img-fluid rounded">
    </div>

<div class="col">
<h5>Добавить новый анекдот</h5>
<form action="{% url 'jokes:add' %}" method="post">
{% csrf_token %}
{{ form|bootstrap }}
<button type="submit" class="btn btn-primary">Отправить</button>
</form>
</div>



  </div>

<div class="row mt-5">

{% for joke in jokes %}
<div class="col-4 joke">
  <h3>{{joke.title}}</h3>
  <div>
    {{ joke.text|markdown_filter|safe }}
  </div>
</div>
{% endfor %}

</div>
{% endblock %}
