{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
Сборник математических анекдотов
{% endblock %}

{% block content %}

<h1>Сборник математических анекдотов <span class="text-nowrap">&laquo;$E=mc^3$&raquo;</span></h1>

<div class="joke_header"></div>

<p>
  Скачать одним файлом:
  <a href="/media/jokes.pdf" title="Сборник анекдотов в формате ПДФ" target="_blank">ПДФ</a>,
  <a href="/media/jokes.tex" title="Исходники сборника анекдотов в формате ТеХ" target="_blank">$\TeX$</a>.</p>


<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="{{ request.path }}?sort=byDate">По дате</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ request.path }}?sort=byRating">По рейтингу</a>
  </li>
  <li class="ml-auto">
    <a href="{{ request.path }}add" class="pull-right btn btn-success joke_add"> Добавить анекдот </a>
  </li>
</ul>

<div class="jokes">

{% for column_jokes in columns %}
  <div class="jokes--column">
    {% for joke in column_jokes %}
    {% include './joke.html'%}
    {% endfor %}
  </div>
{% endfor %}

</div>

{% include './pagination.html' with pagination=pagination %}

{% endblock %}
