@import "custom";

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";

//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/background";


@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

@import 'index';
//@import "~bootstrap/scss/bootstrap";

@import 'forms';


//Common Pages
@import "base";
@import "jokes";






.pseudoLink {
  border-bottom:1px dashed;
  color: $blue;
  cursor: pointer;
}


.youtube {
  color: red;
}
