.jokes{
  display: flex;
}

.jokes--column{
  display: flex;
  flex: 33.33333333%;
  max-width: 33.33333333%;
  flex-direction: column;
}

.jokes--column--joke{
  margin: 0.5em;
  padding: 1em;
  box-shadow: 0px 0px 10px -5px #000;
}

.jokes--column--joke__header{
  text-align: center;
}

.jokes--column--joke__content{
  text-align: justify;
}

.sender {
  font-size:.8em;
  color: $gray;
}

.joke_label {
  color:red;
  font-weight:bold;
}

.joke_add {
  animation-name: debounce;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.joke_header {
  background-image: url(/media/joke.jpg);
  height: 300px;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

@keyframes debounce {
  0% {transform: rotate(0)}
  20% {transform: rotate(0)}
  21% {transform: rotate(-5deg)}
  22% {transform: rotate(5deg)}
  23% {transform: rotate(10deg)}
  24% {transform: rotate(-10deg)}
  25% {transform: rotate(5deg)}
  26% {transform: rotate(-5deg)}
  27% {transform: rotate(0)}
  100% {transform: rotate(0)}
}