{% extends 'base.html' %}

{% block content %}
<pre>
Курант, Роббинс "Что такое математика" (для гуманитариев!)
Берже "Геометрия", тома 1 и 2
Прасолов "Наглядная топология"
Фихтенгольц Курс математического анализа
Гельфанд "Лекции по линейной алгебре"
Зорич "Математический анализ", тома 1 и 2
Рудин "Математический анализ"
Арнольд "Обыкновенные дифференциальные уравнения"
Колмогоров, Фомин "Элементы теории функций и функционального анализа"
Картан "Элементарная теория аналитических функций одного и нескольких комплексных переменных"
Аэрленд, Роузен "Классическое введение в современную теорию чисел"
Кострикин, Манин "Линейная алгебра и геометрия"
Феллер "Теория вероятностей"
Ленг "Алгебра"
Кострикин "Введение в алгебру"
Майлз Рид "Алгебраическая геометрия для всех"
Зарисский, Самюэль "Коммутативная алгебра", тома 1 и 2
Босс (все тома подряд)

По физике: Фейнмановские лекции

Фосс. Сущность математики (курс Математика для всех, неделя 6, лекция 1)

<a href="http://files.lbz.ru/pdf/cC2736-2-ch.pdf">Доказательства из Книги</a> (Математика для всех, завершающая лекция)

<a href="//math.hse.ru/books/">Матфак рекомендует</a>.

Все книги есть в <a href="https://libgen.io">библиотеке Генезис</a>.
</pre>
{% endblock %}
