{% extends 'base.html' %}
{% load markdown_filter %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
<!-- SAVVATEEV -->

<h1>Алексей Владимирович Савватеев</h1>
<!--
	<img src="/img/savvateev.jpg">
-->

<div class="row">
<div class="col-md-2">
<img class="img-fluid rounded" src="{{MEDIA}}savva.jpg" alt="Алексей Савватеев">
</div>
<div class="col">
<ul class="regalia">
  <li>доктор физико-математических наук</li>
  <li>ректор Университета Дмитрия Пожарского</li>
  <li>профессор Московского физико-технического института
    <!-- и&nbsp;Института математики экономики и&nbsp;информатики Иркутского государственного университета.-->
  </li>
  <li>научный руководитель Кавказского Математического Центра</li>
  <li>ведущий научный сотрудник ЦЭМИ РАН</li>
  <li>популяризатор математики среди детей и взрослых</li>
</ul>
</div>
</div>

<h2 class="mt-4">Мероприятия</h2>
<table class="table">
{% for event in events %}
<tr>

  <td>
    {{ event.start }}
  </td>
  <td>
    {{event.city}}
  </td>
  <td>
    <strong>{{ event.title|default:"..." }}</strong>
    {{ event.comment |markdown_filter|safe }}
    {{ event.place }}
    <br/>
    {{ event.address }}
  </td>
</tr>
{% endfor %}
</table>


<h2>Ресурсы</h2>
<ul class="resources">
  <li>
    <a href="{% url 'base:index' %}">База данных выступлений</a>
  </li>
  <li>
    <a href="{% url 'pages:page' 'books' %}">Рекомендуемые книги</a>
  </li>
  <li>
    <span class="joke_label">FUN</span>
    <a href="{% url 'jokes:index' %}">Математические шутки</a>
  </li>
</ul>

<p>Алексей Савватеев &mdash; математик, доктор физико-математических наук,
  ректор <a href="//usdp.ru/">Университета Дмитрия Пожарского</a>, профессор <a href="https://mipt.ru">МФТИ</a>, ведущий
  научный сотрудник <a href="//www.cemi.rssi.ru/
">Центрального экономико-математического института</a>,
  научный руководитель <a href="https://vk.com/kavmatagu">Кавказского Математического Центра</a>, открытого
  в <a href="http://www.adygnet.ru">Адыгейском Государственном Университете</a> совместно с МФТИ, научный
  руководитель <a href="https://www.nes.ru/outreach-center">Центра дополнительного профессионального образования
    Российской Экономический Школы</a>, а также активный популяризатор
  математики среди детей и взрослых.
</p>



<p>Автор <a href="{% url 'pages:page' 'book' %}">книги &laquo;Математика для гуманитариев. Живые лекции&raquo;</a>, а также <a href="https://www.youtube.com/playlist?list=PL8n_ZHoHDPESLDJN2NJivDYLNGtpJEBoy">проекта
    &laquo;100 уроков математики&raquo;</a> для широкого круга мотивированных школьников.
</p>

<p>
  Читает лекции по своей программе &laquo;100 уроков&raquo; для детей Филипповской
  школы в Москве, рассказывая детям про математику &mdash; большую и настоящую!
</p>

<h2>Ссылки</h2>
<ul>
  <li><a href="https://vk.com/alexei_savvateev">Группа ВК</a></li>
  <li><a href="https://www.youtube.com/channel/UClTIrwj5npeOaBjH6_AkKyA">Ютюб-канал</a></li>
  <li><a href="https://www.instagram.com/p/BpNPhaMhGiF/?taken-by=aleksey_savvateev">Инста</a></li>
</ul>

<!-- /SAVVATEEV -->
<h2>Дать денег на просветительскую деятельность</h2>
<p>2202 2002 5814 7386 (карта &laquo;МИР&raquo; Сбербанка)
<br>
Яндекс-кошелёк:
4100 1126 1864 898
</p>

<h2>Контакты</h2>
<p>
  Электропочта: <a href="mailto:savvateev@usdp.ru">savvateev@usdp.ru</a>
</p>

{% endblock %}
