{% extends 'base.html' %}

{% block content %}
 <div class="container">

 <!-- SAVVATEEV -->
 <h1>Алексей Владимирович Савватеев</h1>
<!--
	<img src="/img/savvateev.jpg">
-->


        <ul>
          <li>доктор физико-математических наук</li>
          <li>ректор Университета Дмитрия Пожарского</a></li>
          <li>профессор Московского физико-технического института<!-- и&nbsp;Института математики экономики и&nbsp;информатики Иркутского государственного университета.--></li>
          <li>научный руководитель Кавказского Математического Центра</li>
          <li>ведущий научный сотрудник ЦЭМИ РАН</li>
          <li>популяризатор математики среди детей и взрослых</li>
        </ul>

<hr/>

<p>Алексей Савватеев &mdash; математик, доктор физико-математических наук,
ректор <a href="//usdp.ru/">Университета Дмитрия Пожарского</a>, профессор <a href="https://mipt.ru">МФТИ</a>, ведущий
научный сотрудник <a href="//www.cemi.rssi.ru/
">Центрального экономико-математического института</a>,
научный руководитель <a href="https://vk.com/kavmatagu">Кавказского Математического Центра</a>, открытого
в <a href="http://www.adygnet.ru">Адыгейском Государственном Университете</a> совместно с МФТИ, научный
руководитель <a href="https://www.nes.ru/outreach-center">Центра дополнительного профессионального образования
Российской Экономический Школы</a>, а также активный популяризатор
математики среди детей и взрослых.
</p>


<p>Автор <a href="/book/">книги &laquo;Математика для гуманитариев. Живые лекции&raquo;</a>, а также <a href="https://www.youtube.com/playlist?list=PL8n_ZHoHDPESLDJN2NJivDYLNGtpJEBoy">проекта
&laquo;100 уроков математики&raquo;</a> для широкого круга мотивированных школьников.
</p>

<p>
Читает лекции по своей программе &laquo;100 уроков&raquo; для детей Филипповской
школы в Москве, рассказывая детям про математику &mdash; большую и настоящую!
</p>



    <hr>
		<p><a href = "/savva/">Выступления Алексея Савватеева</a>
      (разные ютюб-ролики на одной странице)
    </p>
		<p><a href="/base/">База данных выступлений</a>
    </p>
		<p><a href="/books/">Рекомендуемые книги</a>
    </p>
  <hr>


<h5>Группа ВК:</h5>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?158"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, width: "auto", height: "700"}, 148115211);
</script>

<br>
 <!-- /SAVVATEEV -->
<h2>Реквизиты для пожертвований на просветительскую деятельность</h2>
2202 2002 5814 7386 (карта &laquo;МИР&raquo; Сбербанка)
<br>
Яндекс-кошелёк:
4100 1126 1864 898



<h2>Контакты</h2>



<p>
	Электропочта: <a href="mailto:savvateev@usdp.ru">savvateev@usdp.ru</a>
</p>
<hr>

{% endblock %}
