{% extends 'base.html' %}


{% block content %}
<h1>Благодарности</h1>

<p>В оформлении сайта используются фотографии <a href="https://vk.com/moiseevart" target="_blank" title="Страничка фотографа Артема Моисеева">Артёма Моисеева</a>, сделанные для проекта &laquo;<a href="http://bunchofquestions.com/alexey_savvateev_matematika" target="_blank" title="Занимательный проект, рассказывающий о профессионалах своего дела">Банчофквешнс</a>&raquo;.</p>

<p>Михаилу Прохоровичу <a href="/jokes/" title="Почитать математические анекдоты">за шутки</a>.</p>

<p>Студии &laquo;ПараТайп&raquo; за <a href="https://www.paratype.ru/public/" target="_blank" title="Публичные шрифты от ПараТайп">шрифт ПТ Сериф</a>.

<p>Разработчикам &laquo;Джанго&raquo; за &laquo;<a href="http://djangoproject.com" target="_blank" title="Пожалуй, лучший веб-фреймворк">Джанго</a>&raquo;

{% endblock %}