{% extends 'base.html' %}


{% block title %}
Участие в проекте
{% endblock %}


{% block meta %}
<meta name="description" content="Способы поучаствовать в проекте лектория Алексея Савватеева.">
<meta name="keywords" content="участие, поддержка, реквизиты, пожертвование, просветительская деятельность">
{% endblock %}


{% block content %}

<h1>Участие в проекте</h1>

<h3>Стать патроном</h3>

<a href="https://www.patreon.com/bePatron?u=16774008"><img src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png" /></a>

<p><a href="https://www.patreon.com/bePatron?u=16774008">Подпишитесь</a> на ежемесячные пожертвования проекту.</p>

<h3>Улучшить код</h3>
<p>Репозиторий проекта:
	<a href="https://github.com/aeifn/savva3" title="Сделать вклад в проект" target="_blank">
		<img src="/static/github.png" alt="Репозиторий проекта">
	</a>
</p>



<h3>Контакты</h3>
<p>По всем вопросам, связанным с проектом, <a href="mailto:egor@savvateev.xyz">пишите Егору Кузьмичеву</a>.<br/>Поступившие письма будут либо непосредственно обработаны, либо пересланы кому надо.</p>

	{% endblock %}
