{% extends 'base.html' %}


{% block title %}
Участие в проекте
{% endblock %}


{% block meta %}
<meta name="description" content="Способы поучаствовать в проекте лектория Алексея Савватеева.">
<meta name="keywords" content="участие, поддержка, реквизиты, пожертвование, просветительская деятельность">
{% endblock %}


{% block content %}

<h1>Участие</h1>

<p>Варианты:</p>

<p><strong>1). Улучшить код</strong></p>
<p>Репозиторий проекта: 
<a href="https://github.com/aeifn/savva3"
        title="Сделать вклад в проект"
        target="_blank">
        <img src="/static/github.png"
          alt="Репозиторий проекта">
      </a>
</p>

<p><strong>2). Дать денег</strong></p>
<p>Номер карты Алексея Савватеева: 2202 2002 5814 7386 (&laquo;МИР&raquo; Сбербанка)</p>

<p>Вы можете прислать деньги на развитие на развитие интернет-проектов, на проведение открытых лекций и вообще на просветительскую деятельность.</p>

<p>Обязательно указывайте назначение перевода, потому что именно в соответствии с ним деньги и будут использованы.</p>

<p><strong>3). Стать волонтером проекта</strong></p>
<p>Можно взять на себя часть работы, не связанной с программированием. Пишите <a href="mailto:egor@kuzmichev.design">Егору Кузьмичёву</a>.

{% endblock %}