{% extends 'base.html' %}


{% block title %}
Участие в проекте
{% endblock %}


{% block meta %}
<meta name="description" content="Способы поучаствовать в проекте лектория Алексея Савватеева.">
<meta name="keywords" content="участие, поддержка, реквизиты, пожертвование, просветительская деятельность">
{% endblock %}


{% block content %}

<h1>Участие в проекте</h1>

<p>Варианты:</p>

<p><strong>1. Улучшить код</strong></p>
<p>Репозиторий проекта: 
<a href="https://github.com/aeifn/savva3"
        title="Сделать вклад в проект"
        target="_blank">
        <img src="/static/github.png"
          alt="Репозиторий проекта">
      </a>
</p>

<p><strong>2. Дать денег</strong></p>
<p>
	<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=buyer&targets=&targets-hint=%D0%9D%D0%B0%20%D1%87%D1%82%D0%BE%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D1%8C%3F&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&fio=on&mail=on&hint=&successURL=&quickpay=shop&account=410014777389674" width="100%" height="227" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</p>
<p>Или: номер карты Алексея Савватеева: 2202 2002 5814 7386 (&laquo;МИР&raquo; Сбербанка)</p>

<p>Вы можете прислать деньги на развитие на развитие интернет-проектов, на проведение открытых лекций и вообще на просветительскую деятельность.</p>

<p>Обязательно указывайте назначение перевода, потому что именно в соответствии с ним деньги и будут использованы.</p>

<p>Нам уже прислали {{ summary }} &#8381;</p>

<ul>
{% for item in transactions %}
<li>{{item.amount}} &#8381; &mdash; {{item.purpose}}</li>
{% endfor %}
</ul>

<p><strong>3. Стать волонтером проекта</strong></p>
<p>Можно взять на себя часть работы, не связанной с программированием. Пишите <a href="mailto:egor@kuzmichev.design">Егору Кузьмичёву</a>.

{% endblock %}
