{% extends 'base.html' %}
{% block content %}
<h1>Книга &laquo;Математика для гуманитариев&raquo;</h1>

<img src="/media/book_1.jpg" width="250" height="380" class="img-responsive" alt="Математика для гуманитариев. Савватеев Алексей" title="Книга Математика для гуманитариев" style="float:right; margin:5px 15px; ">
<p>
<strong>Книга Алексея Савватеева «Математика для гуманитариев»</strong><br>
Книга, которую я предлагаю Вам прочитать, очень необычна - это лекции в режиме реального времени. Стиль повествования
позволяет воссоздать атмосферу, царившую в аудитории, ведь на бумагу практически без шлифовки перенесены не только мои
слова, но и догадки и комментарии слушателей. Именно такой концепцией обусловлен отказ от последовательного введения
математических понятий. Переходя от сюжета слушателям (и читателям) в процессе беседы предлагаются все более логически
сложные конструкции, подталкивающие освоению базовых понятий, построений и языка современной математики. Для понимания данной книги не
тpебуется никакое начальное знание, однако человек, освоивший её целиком, сможет в дальнейшем читать более специальную литературу.
<br><br>
<i>С уважением,<br>Популяризатор математики,<br>доктор физико-математических наук,<br>ректор Университета Дмитрия Пожарского,<br>Алексей  Савватеев</i>
<br>
<h5><a href="/media/savva_book_old.pdf" title="Скачать книгу  Математика для гуманитариев PDF">Скачать книгу (PDF) (предыдущая версия &mdash; с фотографиями)</a></h5>
<h5><a href="/media/savva-book-new.pdf"  title="Скачать книгу  Математика для гуманитариев PDF">Скачать книгу (PDF) (последняя версия книги)</a></h5>
<!--
<h5><a href="donate#poddergka">Поддержать чтение лекций "Математика для гуманитариев"</a></h5>
-->
</p>

<div class="container" style="margin-bottom: 50px; margin-top: 50px; background-color: #fafafa; padding: 30px 50px; border-radius: 10px;">
<h2>О книге:</h2>

<hr>
<div class="container text-right">
<p>«Данная книга — один из наилучших способов потренировать забытые навыки даже тому, кому не
приходилось со школьных времен решать сложные и красивые задачи. Читать же мы ее
рекомендуем с карандашом в руках — она не предполагает пассивности; нужно сделать усилие ей
навстречу — и оно будет богато вознаграждено».</p>
</div>
<div class="container text-right"><i>Доктор филологических наук А. И. Любжин</i></div>

<hr>

<div class="container text-left"><p>«Книга А. Савватеева открывает читателю увлекательный мир интеллектуальных достижений.
Людям, далеким от предмета и вынесшим о нем из школьной практики не самые лучшие
впечатления, она позволит узнать, как математика может быть интересна, парадоксальна и…
красива. Во всяком случае, «лирикам» ее следовало бы преподавать именно так».</p></div>
<div class="container text-right"><i>Доктор исторических наук С.В. Волков</i></div>

<hr>

<div class="container text-left"><p>«Замечательная книга. В ней очень популярно, доходчиво и убедительно рассказывается, что такое
математика и как прекрасно, когда есть "абсолютно непререкаемое доказательство". Думаю, она
будет исключительно полезна для весьма широкого круга читателей. И особенно я бы рекомендовал
ее тем, кто еще не открыл для себя настоящую математическую красоту. Она не в формулах,
которые пугают, но в удивительно красивых, "строгих" рассуждениях. Только не ждите, что вам
расскажут о практических приложениях математических результатов. Математика прекрасна
изнутри, и именно в этом пафос книги».</p></div>
<div class="container text-right"><i>Доктор физико-математических наук А. М. Райгородский</i></div>
</div>

</div>
{% endblock %}