{% extends 'base.html' %}


{% block title %}Алексей Савватеев{% endblock %}


{% block meta %}
<meta name="description" content="Алексей Савватеев — математик, доктор физико-математических наук, активный популяризатор математики среди детей и взрослых.">
<meta name="keywords" content="Алексей Савватеев, математик, популяризатор науки">
{% endblock %}



{% block content %}

<h1>Алексей Владимирович Савватеев</h1>

<div class="row">
  <div class="col-md-2">
    <img class="img-fluid rounded" src="/media/savva.jpg" alt="Алексей Савватеев" title="Алексей Владимирович Савватеев">
  </div>

  <div class="col">
    <ul>
      <li>доктор физико-математических наук</li>
      <li>ректор Университета Дмитрия Пожарского</li>
      <li>профессор Московского физико-технического института</li>
      <li>научный руководитель Кавказского Математического Центра</li>
      <li>ведущий научный сотрудник ЦЭМИ РАН</li>
      <li>популяризатор математики среди детей и взрослых</li>
    </ul>
  </div>
</div>

<p class="pt-4"><strong>Алексей Савватеев</strong> &mdash; математик, доктор физико-математических наук,

ректор <a href="//usdp.ru/" title="Университет Дмитрия Пожарского" target="_blank">Университета Дмитрия Пожарского</a>,

профессор <a href="https://mipt.ru" title="Физтех" target="_blank">МФТИ</a>,

ведущий научный сотрудник <a href="//www.cemi.rssi.ru/" title="ЦЭМИ" target="_blank">Центрального экономико-математического института</a>,

научный руководитель <a href="https://vk.com/kavmatagu" title="КМЦ АГУ" target="_blank">Кавказского Математического Центра</a>, открытого в <a href="http://www.adygnet.ru" title="АГУ" target="_blank">Адыгейском Государственном Университете</a> совместно с МФТИ, 

научный  руководитель <a href="https://www.nes.ru/outreach-center" title="Центр дополнительного профессионального образования" target="_blank">Центра дополнительного профессионального образования
  Российской Экономический Школы</a>,

а также активный популяризатор математики среди детей и взрослых.
</p>

<p>Автор <a href="/book/" title="Книга Алексея Савватеева">книги &laquo;Математика для гуманитариев. Живые лекции&raquo;</a>,
а также <a href="https://www.youtube.com/playlist?list=PL8n_ZHoHDPESLDJN2NJivDYLNGtpJEBoy" title="100 уроков математики" target="_blank">проекта
    &laquo;100 уроков математики&raquo;</a> для широкого круга мотивированных школьников.
</p>

<p>
  Читает лекции по своей программе &laquo;100 уроков&raquo; для детей 
  <a href="http://landing.fschool.ru" title="Филипповская школа" target="_blank">Филипповской школы</a> в Москве, 
  рассказывая детям про математику &mdash; большую и настоящую!
</p>
{% endblock %}
