{% extends 'base.html' %} 

{% block content %}

<h1>100 уроков математики</h1>
<p>Листки к курсу</p>

<table border="1" align="center">
    <tr align="center">
        <td>№ урока</td>
        <td>Название урока</td>
        <td>Ссылка на листок</td>
        <td>Автор</td>
    </tr>
    {% for row in table_sheets %}
        <tr align="center">
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{% if row.2 %}<a href="{{ row.2 }}">Скачать</a>{% endif %}</td>
            <td>{{ row.3 }}</td>
        <!--{% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}-->
        </tr>
    {% endfor %}
    <!--<tr>

        <td>1</td>
        <td>cat_name</td>
        <td>subcat_name</td>
        <td>lesson_name</td>
        <td>sheet_url</td>
        <td>Author</td>
    </tr>-->
</table>

<p>
<a href="ftp://savvateev.xyz/sheets/">FTP-пространство с листками</a>
</p>

{% endblock %}
