{% extends 'base.html' %}
{% load sitetree %}

{% block meta %}
<meta name="description" content="Карта сайта Лектория Савватеева.">
<meta name="keywords" content="карта сайта, навигация, ссылки, разделы">
{% endblock %}



{% block content %}
<h2>Карта сайта</h2>
<ul>
{% for item in map %}
	{% if not item.url == request.path %}
	<li>
		<a title="{{item.hint}}" href="{{item.url}}">{{item.title}}</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endblock %}


{% block footer %}
{% include 'include/sitemap_footer.html' %}
{% endblock %}