{% extends 'base.html' %}


{% block title %}Команда проекта savvateev.xyz{% endblock %}

{% block meta %}
<meta name="description" content="Люди, которые делают сайт savvateev.xyz">
<meta name="keywords" content="команда сайта">
{% endblock %}

{% block content %}
<h1>Команда сайта</h1>

<img src="/static/team.jpg" class="img-fluid" alt="Наша команда" />

<ul>
<li>Алексей Батятин &mdash; мастер доменов</li>
<li>Александр Братух &mdash; мастер СЕО</li>
<li>
	Эдуард Дубницкий &mdash; просто мастер
</li>
<li>
	<a href="mailto:egor@kuzmichev.design" title="Написать письмо Егору Кузьмичеву по любым вопросам, связанным с этим сайтом">
	Егор Кузьмичев</a> &mdash; сайтовод
</li>
<li><a href="https://vk.com/alexei_savvateev" target="_blank">Михаил Прохорович</a> &mdash; вконтактомен</li>
<li><a target="_blank" href="https://github.com/aeifn/savva3/graphs/contributors">Контрибьюторы</a> (люди, которые реально правят код этого сайта)</li>
</ul>

<hr>
{% endblock %}
