{% extends 'base.html' %}


{% block title %}Команда проекта savvateev.xyz{% endblock %}

{% block meta %}
<meta name="description" content="Люди, которые делают сайт savvateev.xyz">
<meta name="keywords" content="команда сайта">
{% endblock %}

{% block content %}
<h1>Команда сайта</h1>
<ul>
<li>Алексей Батятин</li>
<li>Александр Братух</li>
<li>Эдуард Дубницкий</li>
<li>
	<a href="mailto:egor@kuzmichev.design" title="Написать письмо Егору Кузьмичеву по любым вопросам, связанным с этим сайтом">
	Егор Кузьмичев</a>
</li>
<li><a href="https://vk.com/alexei_savvateev" target="_blank">Михаил Прохорович</a></li>
</ul>

<p><a target="_blank" href="https://github.com/aeifn/savva3/graphs/contributors">Контрибьюторы</a> (люди, которые реально правят код)</p>
<hr>
{% endblock %}
