{% extends 'base.html' %}


{% block title %}Команда проекта savvateev.xyz{% endblock %}

{% block meta %}
<meta name="description" content="Люди, которые делают сайт savvateev.xyz">
<meta name="keywords" content="команда сайта">
{% endblock %}

{% block content %}
<h1>Команда сайта</h1>

<img src="/media/team.jpg" class="img-fluid" alt="Наша команда" />

<p class="mt-4"><strong>Ученые мужи:</strong></p>
<ul>
	<li>
		Алексей Савватеев &mdash; лицо и флагман проекта, православный панк-профессор математики, монархист, 
		<a target="_blank" title="Савватеев на МатНете" href="http://www.mathnet.ru/php/person.phtml?option_lang=rus&personid=79862">д.ф.-м.н.</a> 
	</li>
	<li>
		<a target="_blank" href="https://vk.com/mikhail.prokhorovich" title="Прохорович в вкашечке">Михаил Прохорович</a> &mdash; православный атеист, массовик-затейник, душа компании, 
		<a title="Прохорович на ученом сайте" href="http://www.mathnet.ru/php/person.phtml?option_lang=rus&personid=28439">к.ф.-м.н.</a>
	</li>
</ul>
<p><strong>Сопровождение:</strong></p>
<ul>
	<li>
		Саша Ненашев &mdash; дизайн и художественное офовмление
	</li>

	<li>
		Сергей Казмин &mdash; vk
	</li>
	<li>
		Алексей Батятин &mdash; мастер доменов
	</li>
	<li>
		Александр Братух &mdash; мастер СЕО
	</li>
	<li>
		Эдуард Дубницкий &mdash; просто мастер
	</li>
	<li>
		Валерий Драгун &mdash; инстач
	</li>
	<li>
		<a href="mailto:egor@kuzmichev.design" title="Написать письмо Егору Кузьмичеву по любым вопросам, связанным с этим сайтом">
		Егор Кузьмичев</a> &mdash; сайтовод, не монархист и не панк.
	</li>
	<li>
		<a target="_blank" href="https://github.com/aeifn/savva3/graphs/contributors">Контрибьюторы</a> (люди, которые реально правят код этого сайта)
	</li>
</ul>
<p><strong>Вакантные должности:</strong> OK, ФБ, ТВИ, телега.</p>


{% endblock %}
