.message {
  color:green;
}

.joke_label {
  color:red;
  text-weight:bold;
}


.video {
  margin-top: 40px;
}


.filter_form p {
  display: inline-block;
}



.filter_form .submit {
  display: inline-block;
}

.filter_form .reset {
  display: inline-block;
  margin-left: .5em;
}


table {
  width:100%;
}

td {
  overflow: hidden;
  background: #999;
  padding: 3px;
}

td.edit_column {
  width:20px;
}
td.edit_column a {
  color:white;
}

td.title_column {
  width:35%;
}

.regalia {
  background:#ccc;
  padding:30px;
}
