{% extends 'simple.html' %}
{% load sitetree %}

{% block robots %}
<meta name="robots" content="noindex, follow">
{% endblock %}


{% block body %}
<style>
.savv a {
  color:#f0f;
}


</style>
<div class="container">
<div class="row mt-5">
  <div class="col-md-3">
    <p class="h1 savv">
      <a href="/" title="{{savva.title}}">{{savva.title}}</a>
    </p>
  </div>
<div class="col-md">
<h1>$4\cdot10^2+4 = $ страница не найдена!</h1>
<p>Не беда, у нас есть другие интересные страницы:</p>

{% sitetree_tree from "topmenu" %}

<br/>
... а также
{% sitetree_tree from "footermenu" %}

</div>
</div>
{% endblock %}
