<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">Лекторий Савватеева</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      {% load menubuilder %}{% menu headernavigation %}
      {% for item in menuitems %}
      <a title="{{ item.title|escape }}" class="nav-item nav-link {% if item.current %}active{% endif %}" href="{{ item.url }}">
        {{ item.title }}
      </a>
      {% endfor %}

    </div>
  </div>
</nav>
