<h1>Алексей Владимирович Савватеев</h1>
<div class="row">

  <div class="col">
    <ul class="regalia">
      <li>доктор физико-математических наук</li>
      <li>ректор Университета Дмитрия Пожарского</li>
      <li>профессор Московского физико-технического института
        <!-- и&nbsp;Института математики экономики и&nbsp;информатики Иркутского государственного университета.-->
      </li>
      <li>научный руководитель Кавказского Математического Центра</li>
      <li>ведущий научный сотрудник ЦЭМИ РАН</li>
      <li>популяризатор математики среди детей и взрослых</li>
    </ul>
  </div>

  <div class="col-md-2 d-none d-xl-block">
    <img class="img-fluid rounded" style="position:relative; z-index:2;" src="{{MEDIA}}savva.jpg" alt="Алексей Савватеев">
  </div>

</div>
