{% load static %}
{% get_media_prefix as MEDIA %}

{% load counter %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Сайт Алексея Савватеева{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


{% block scripts %}
{% endblock %}

{% include 'counters/_metrika.html' %}
</head>
<body>



<div class="container-fluid">
  {% block menu %}
    {% include "_menu.html" %}
  {% endblock %}
</div>



<div class="container-fluid">
    <div id="content">
      {% for message in messages %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
      {% endfor %}

      {% block content %}{% endblock %}
    </div>
          <hr/>
    <div id="footer" class="row">

      <div class="col-md-7">

      <p>Тираж: {% counter %} экз.</p>
      <p>Разработчик этого сайта &mdash; <a href="mailto:egor@kuzmichev.design">Егор Кузьмичев</a></p>
      <p><a href="https://github.com/aeifn/savva3">Репозиторий проекта</a></p>
      </div>

      <div class="col-md-5">
        <a href="/details/">Реквизиты</a>
      </div>

    </div>

</div>

{% block style %}
<script src="{% static 'webpack/common.js' %}"></script>
{% endblock %}



</body>
</html>
