{% extends 'simple.html' %}
{% load static %}



{% block body %}

{% block header %}
{% include 'include/header.html' %}
{% endblock %}


<div class="container-fluid">

  {% block content %}
  {% endblock %}

  {% block disqus %}
  {% include 'include/disqus.html' %}
  {% endblock %}

  {% block footer %}
  {% include 'include/footer.html' %}
  {% endblock %}
</div>

{% endblock %}

{% block scripts %}
    <script id="dsq-count-scr" src="//savvateev.disqus.com/count.js" async></script>
{% endblock %}
