{% extends 'simple.html' %}
{% load static %}



{% block body %}

{% block header %}
{% include 'include/header.html' %}
{% endblock %}


<div class="container-fluid">

  {% block content %}
  {% endblock %}

  {% block comments %}
  {% include 'include/vk.html' %}
  {% endblock %}

  {% block footer %}
  {% include 'include/footer.html' %}
  {% endblock %}
</div>

{% endblock %}

{% block head_scripts %}
<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
{% endblock %}

{% block top_body_scripts %}
<script>
 VK.init({apiId: 6758305, onlyWidgets: true});
</script>
{% endblock %}
