{% extends 'base.html' %}
{% load markdown_filter %}
{% load static %}


{% block meta %}
<meta name="description" content="Популярная математика от Савватеева. Проект, где любой человек может взять и изучить интересующую его математическую тему.">
<meta name="keywords" content="Савватеев, математика, обучающие видео, популярная математика, обучение, видео">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/webpack/index.css">
{% endblock %}

{% block bundle %}
<script src="{% static 'webpack/index.js' %}"></script>
{% endblock %}


{% block content %}
{% include 'index/video.html' %}

<hr>

{% include 'index/formulae.html' %}

{% comment %}
{% include 'index/lections.html' %}
{% endcomment %}

{% comment %}
<p class="text-center mt-2"><a class="btn btn-primary mt-2" href="{% url 'events:invite' %}">Пригласить Алексея Савватеева в свой город!</a></p>
{% endcomment %}

<div class="intro-wrapper">
{% include 'index/intro.html' %}
</div>
<hr>
<div class="container">
	<div class="row">
  {% include 'include/vk.html' %}
	</div>
  <div class="row">
  {% include 'jokes/random_widget.html' %}
  </div>
</div>

<hr>

{% endblock %}

  {% block comments %}
  {% endblock %}
