{% extends 'base.html' %}
{% load markdown_filter %}
{% load static %}

{% block header %}{% endblock %}

{% block style %}
<script src="{% static 'webpack/index.js' %}"></script>
{% endblock %}


{% block content %}

<!-- SAVVATEEV -->



<!--
	<img src="/img/savvateev.jpg">
-->

<div class="row mt-4" style="position:relative;">
  <div id="particles-js"></div>
  <div class="offset-md-3 col-md-6">
    <div id="video"></div>
  </div>
</div>

<div class="row mt-5">
  <div class="col text-center">
    <div class="formulae">
    {{formulae.formulae}}
    </div>
  </div>
</div>

<h2 class="mt-5">Открытые лекции по математике</h2>
<p><a href="{% url 'events:calendar' %}">В календаре</a></p>
<div id="events"></div>


<div class="row mt-4">
<div class="col-md-12">
<h2>{{intro.title}}</h2>
{{intro.content}}
</div>
</div>


<div class="row mt-4">
  <div class="col-md-6 offset-md-3">
    {% include 'jokes/_random_widget.html' %}
  </div>
</div>


<div class="row mt-5">
  <div class="col-md">
    {% include "questions/_form.html" %}
  </div>
  <div class="col-md-4">
    {% include '_social.html' %}
  </div>
</div>

<div class="row mt-4">
  <div class="offset-md-3 col-md-6">
  </div>
</div>



{% endblock %}
