{% extends 'base.html' %}
{% load markdown_filter %}
{% load static %}


{% block meta %}
<meta name="description" content="Популярная математика от Савватеева. Проект, где любой человек может взять и изучить интересующую его математическую тему.">
<meta name="keywords" content="Савватеев, математика, обучающие видео, популярная математика, обучение, видео">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/webpack/index.css">
{% endblock %}

{% block bundle %}
<script src="{% static 'webpack/index.js' %}"></script>
{% endblock %}


{% block content %}

<noindex>
<h4>Скандальное интервью с Алексеем Савватеевым</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/If5qYyH7zmk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>В комментариях к этому интервью появилось много мнений и вопросов. Савватеев ответит на них в следующем видео. Задавайте свои вопросы в комментариях к видео или на почту <a href="mailto:egor@kuzmichev.design">egor@kuzmichev.design</a>

</noindex>
{% include 'index/video.html' %}

{% include 'index/formulae.html' %}

{% include 'index/lections.html' %}
<p class="text-center mt-2"><a class="btn btn-primary mt-2" href="{% url 'events:invite' %}">Пригласить Алексея Савватеева в свой город!</a></p>

{% include 'index/intro.html' %}

<hr>
<p>Скажите в комментариях, что вы хотите видеть на сайте?</p>
{% include 'include/vk.html' %}

<div class="row mt-5">
  <div class="col-md-9">
    {% include 'jokes/random_widget.html' %}
  </div>
  <div class="col-md-3">
    {% include 'include/vk_widget.html' %}
  </div>
</div>

{% endblock %}

  {% block comments %}
  {% endblock %}
