<noindex>
<div class="row">
<div class="col">
  <h1>Премия «Просветитель»! Проголосуй за Савватеева &darr;
    </h1>

  <!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
<!-- Put this div tag to the place, where the Poll block will be -->
<div id="vk_poll"></div>
<script type="text/javascript">
VK.Widgets.Poll("vk_poll", {}, "310356290_4779b81208ab3a3b87");
</script>
  <h2>Проголосуй за Савватеева &uarr;</h2>

  </div>
  </div>
</noindex>
