{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  {% include 'counters/_metrika.html' %}

  <title>{% block title %}{{savva.title_full}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">


  <meta name="author" content="Алексей Савватеев">
  {% include 'meta/meta.html' %}

  {% block scripts %}
  {% endblock %}

  {% block robots %}
  <meta name="robots" content="index, follow">
  {% endblock %}

</head>

<body>



  <div class="container-fluid">

      {% for message in messages %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
      {% endfor %}

      {% block body %}{% endblock %}





  {% block style %}
  <script src="{% static 'webpack/common.js' %}"></script>
  {% endblock %}



</body>

</html>
