{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <title>{% block title %}Лекторий Савватеева{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <meta name="author" content="Алексей Савватеев">

  {% block robots %}
  <meta name="robots" content="index, follow">
  {% endblock %}

  {% block meta %}
  {% include 'meta/meta.html' %}
  {% endblock %}

  {% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/webpack/common.css">
  {% endblock %}

  {% block head_scripts %}
  {% endblock %}


  {% block adsense %}

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8121686013471497",
      enable_page_level_ads: true
    });
  </script>

  {% endblock %}

</head>

<body>

  {% block top_body_scripts %}
  {% endblock %}

  {% if not user.is_staff %}
    {% include './include/metrics.html' %}
  {% endif %}

  {% for message in messages %}
  <div class="alert alert-success mt-4">
    {{ message }}
  </div>
  {% endfor %}

  {% block body %}{% endblock %}


  {% block bundle %}
  <script src="{% static 'webpack/common.js' %}"></script>
  {% endblock %}


  {% block bottom_body_scripts %}
  {% endblock %}

</body>

</html>
