{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <title>{% block title %}Лекторий Савватеева{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <meta name="author" content="Алексей Савватеев">

  {% block robots %}
  <meta name="robots" content="index, follow">
  {% endblock %}

  {% block meta %}
  {% include 'meta/meta.html' %}
  {% endblock %}

</head>

<body>
  {% if not user.is_authenticated %}
    {% include './include/metrics.html' %}
  {% endif %}

  {% for message in messages %}
  <div class="alert alert-success mt-4">
    {{ message }}
  </div>
  {% endfor %}

  {% block body %}{% endblock %}


  {% block bundle %}
  <script src="{% static 'webpack/common.js' %}"></script>
  {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>

</html>
