{% extends 'base.html' %}


{% block title %}
{{book.title}}
{% endblock %}


{% comment %}
Метатеги сюда добавляются автоматически, в шаблоне их указывать не нужно
{% endcomment %}


{% block content %}
<h1>{{book.title}}</h1>

{% for author in book.authors.all %}
<p>{{author.full_name}}</p>
{% endfor %}

<p>{{ book.comment }}</p>

{% for area in book.areas.all %}
<p>
  {{area.title}}
</p>
{% endfor %}

{% block references %}
<h3>Ссылки сюда</h3>
{% for item in book.relation.all %}
{% if item.video %}
<a href="{{item.video.get_absolute_url}}">{{item.title}}</a>
{% endif %}
{% endfor %}
{% endblock %}

{% endblock %}
