{% extends 'base.html' %}


{% block title %}
Рекомендуемые книги
{% endblock %}

{% block meta %}
<meta name="description" content="Алексей Савватеев рекомендует следующие книги по математики и физике.">
<meta name="keywords" content="книги, рекомендации, физика, математика">
{% endblock %}

{% block content %}
<h1>Рекомендуемые книги по математике, физике</h1>
<p class="description">
  Алексей Савватеев рекомендует следующие книги по алгебре, геометрии, матанализу, теории чисел, теории вероятности, ...
</p>
<table class="table">
  <tbody>
    {% for book in books %}
      <tr>
        <td>
          {% for author in book.authors.all %}
            {{author.full_name}}<br/>
          {% endfor %}
        </td>
        <td>
          {% if book.md5 %}
            <a target="_blank" title="{{book.title}}" href="http://libgen.io/book/index.php?md5={{book.md5}}">{{book.title}}</a>
          {% else %}
            {{book.title}}
          {% endif %}
        </td>
        <td>
          {% if book.comment %}({{book.comment}}){% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
