{% extends 'base.html' %}


{% block content %}
<div class="row">
  <div class="col-md-12">
{#    <a href="{% url "base:index" %}">&larr; База знаний</a> #}
    {% include './_video.html' with video=url %}
    <div class="description">
      {{ url.description }}
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-1">
<a href="{% url "base:index" %}">&larr; Назад</a>
</div>
<div class="col-md-2 offset-md-9">
  <a href="{{url.url}}" target="_blank">Смотреть на Ютюбе &rarr;</a>
</div>
</div>

{% endblock %}
