{% extends 'base.html' %}

{% block content %}

<form action="" method="get" class="filter_form">
  {{ filter.form.as_table }}
  <br>
  <input type="submit" class="submit" value="Отфильтровать"/>
  <a class="reset" href="/base/" title="Сбросить">&olarr;</a>
</form>

<p class="count">{{filter.qs.count}}</p>

<table class="table table-striped">
    {% for obj in filter.qs %}
        <tr>
          <td class="edit_column">
            {% if user.is_authenticated %}
            <a target="_blank" href="{% url 'admin:base_url_change' obj.id %}">&#10002;</a>
            {% endif %}
          </td>
          <td><a target="_blank" href="{{ obj.url }}">{{ obj.title|truncatechars:150 }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
