{% extends 'base.html' %}
{% load embed_video_tags %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <h1>{{ video.title|safe }}</h1>

    {% video video.url '100% x 500' %}
    <div class="description">
      {{ video.description }}
    </div>

    <div class="related mb-5 mt-3">
      <h3>Связанные ресурсы</h3>
      {% for item in video.resource_set.all %}
        {% if item.book %}
          <a href="{{item.book.get_absolute_url}}">{{ item.book.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-1">
<a href="{% url "base:index" %}">&larr; {% trans "Back" %}</a>
</div>
<div class="col-md-2 offset-md-9">
  <a href="{{video.url}}" target="_blank">{% trans "Look at YouTube" %} &rarr;</a>
</div>
</div>



{% endblock %}
