{% extends 'base.html' %}
{% load embed_video_tags %}


{%block title%}
{{video.title|safe}}
{%endblock%}

{% comment %}
Метатеги сюда добавляются автоматически, в шаблоне их указывать не нужно
{% endcomment %}

{% block content %}
<h1>{{ video.title|safe }}</h1>
<div class="row">
  <div class="col-md-12">
    {% video video.url as my_video %}
    {% video my_video '100% x 500' %}
    {% endvideo %}
    <div class="description">
      {{ video.description }}
    </div>

    <div class="related mb-5 mt-3">
      <h3>Связанные ресурсы</h3>
      {% for item in video.resource_set.all %}
        {% if item.book %}
          <a href="{{item.book.get_absolute_url}}">{{ item.book.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="row">
  <div class="col text-center">
    {% if viewed %}
    <div class="badge badge-pill badge-success">Просмотрено!</div>
    <a class="btn btn-secondary" href="{% url "base:update_progress" video.id %}">Отметить как непросмотренное</a>
    {% else %}
    <div class="badge badge-pill badge-warning">Еще не просмотрено!</div>
    <a class="btn btn-primary"  href="{% url "base:update_progress" video.id %}">Отметить как просмотренное</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
